@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Oswald");

img {
  border-radius: 5%;
}

.container {
  overflow: auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 1.5rem;
}

/**************NavBar*****************/
.logo {
  width: 5rem;
  padding-left: 1rem;
}

/**************Links******************/
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: white !important;
  border-top: 0.1875rem solid rgba(255,255,255,0);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid yellow
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid yellow;
}

.navbar-custom {
  background-color: #bea899;
}

.navbar-brand {
  padding-left: 2%;
  position: relative;
  font-size:1.5rem;
  top: 4;
  color: white;
}

.navbar-brand:hover {
  color: olive;
}

/****************Home***********************/
#intro {
  padding: 2% 3% 3% 3%;
  color: rgb(43, 40, 5);
  /* font-family: 'Quicksand', cursive; */
  font-family: 'Courier New', Courier, monospace;
  background-color: #f9e7db;
}

.intro-header {
  /* font-family: 'Frank Ruhl Libre', serif; */
  /* font-family: 'Quicksand', cursive; */
  /* font-family: 'Times New Roman', Times, serif; */
  font-family: 'Montserrat', sans-serif;
  color: rgb(68, 71, 26);
  font-size: 4.7rem;
  font-weight: bolder;
  font-variant: small-caps;
  margin-bottom: 2rem;
  position: relative;
  max-height: 75px;
  text-align: center;
}

.intro-head-des {
  font-size: 29px;
  padding-bottom: 8rem;
  text-align: center;
}

.main-intro-des {
  font-size: 1.15rem;
  padding-bottom: 2rem;
  letter-spacing: 0.15rem;
}

.main-intro-des a {
  text-decoration: none;
}

.intro-text {
  margin-top: 140px;
}

.highlight {
  font-weight:bolder;
  color:black;
}

.code {
  font-family: 'Quicksand', cursive;
  font-size:1.5rem;
  letter-spacing: 0.1rem;
  color:#1c7a5e;
  font-variant: small-caps;
}

.typed-text {
  padding-left:0.6rem;
}

@media(max-width: 768px) {
  .intro-header {
    font-size: 3rem;
  }
}

/***************Social media**********/
.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 1.2rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.social a {
  color:rgb(68, 71, 26);
  font-size: 32px !important;
  margin-right: 1rem;
}

.social a:hover {
  transition: all ease 0.3s;
  opacity: 0.5;
  color: #222a35;
}

/**************arrow****************/
.downArrow{
	position: relative;
	bottom: 0;
	text-align: center;
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/*****************about*****************/
#profile-images {
  position: relative;
	width: 35%;
	margin-left: 0px;
	padding-right: 10px;
	z-index: -99;
}

.profile {
	float: left;
	width: 100%;
  margin-bottom: 5rem;
}

.about-container {
	margin: 5%;	
	margin-bottom: 10px;
  display:flexbox;
}

#about-description {
	position: relative;
  font-family: 'Montserrat', sans-serif;
	float: right;
	width: 55%;
}

.about-me-title {
  text-align: center;
  padding-bottom: 0.5rem;
  padding-top: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 0.08rem;
  font-variant: small-caps;
}

.about-me-small-title {
  font-size: 1.25rem;
  padding-bottom: 0.25rem;
  padding-top: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 0.05rem;
}

.resume {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: #222a35;
  padding: 2%;
  position: relative;
  bottom: 10px;
}

.resume-button:hover {
  color: #222a35;
  text-decoration:dashed;
  background-color: #f9e7db;
}

.resume-frame:hover {
  background-color: #f9e7db;
}

.resume-frame {
  margin-top: 25px;
  width: 200px;
  height: 55px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgb(0 0 0 / 10%);
  overflow: hidden;
  background-color:#bea899;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.resume-button {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
}
.course {
  font-size: 1.2rem;
}

.institution {
  font-size: 1rem;
  color: rgba(0,0,0,0.6);
}

.edu-logo {
  margin-left: -3rem;
}

.description {
  margin-top:-1.7rem;
}

/**************skills***************/
#skills {
  background-color:#f9e7db;
}

/*=----- Work Experence Section-----*/
/*- Screen Sizes*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875em;
  line-height: 1.5;
}

.wrapper {
  margin: 3.125em auto;
  padding: 1em 5em 1em;
  max-width: 1000px;
}

h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.timeline {
  line-height: 1.5em;
  font-size: 14px;
  transition: all 0.4s ease;
  position: relative;
  counter-reset: section;
  color:#f9e7db
}
.timeline:before {
  content: "";
  width: 10px;
  height: 100%;
  background: #bea899;
  position: absolute;
  top: 0;
  left: -3.313em;
  border-radius: 40px 40px;
}

.timeline--entry {
  position: relative;
  background-color: #eeeeee;
}
.timeline--entry__title {
  color: rgba(32, 32, 32, 0.904);
  background-color: #f9e7db;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  padding: 1em;
}
.timeline--entry__title:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  position: absolute;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -1em;
  border-right: 10px solid #ec407a;
}
.timeline--entry__detail {
  background-color: #ffe6e6f9;
  color: black;
  padding: 1em;
  margin: 0;
  font-size: 1.1rem;
  line-height: 1.7rem;
  font-family: 'Montserrat', sans-serif;
}
.timeline--entry:before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  counter-increment: section;
  left: -4.5em;
}

@supports (display: grid) {
  @media (min-width: 768px) {
    .timeline {
      display: grid;
      grid-gap: 4.75em;
      grid-template-areas: ".  entry1" "entry2  ." ". entry3" "entry4 ." ". entry5";
    }
    .timeline:before {
      left: 49.5%;
    }

    .timeline--entry:nth-child(1) {
      grid-area: entry1;
    }
    .timeline--entry:nth-child(2) {
      grid-area: entry2;
    }
    .timeline--entry:nth-child(3) {
      grid-area: entry3;
    }
    .timeline--entry:nth-child(4) {
      grid-area: entry4;
    }
    .timeline--entry:nth-child(5) {
      grid-area: entry5;
    }
    .timeline--entry:nth-of-type(odd):before {
      left: -3.8em;
    }
    .timeline--entry:nth-of-type(even):not(:nth-of-type(odd)) .timeline--entry__title:before {
      left: 100%;
      border-left: 10px solid #ec407a;
      border-right: 0;
    }
    .timeline--entry:nth-of-type(even):before {
      left: 103%;
    }
  }
}

/**************Projects***************/
#Projects {
  background-color:#f9e7db;
}