@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');

body {
  font-family: 'Lancelot', cursive;
}
/**************NavBar*****************/
.logo {
  width: 5rem;
  padding-left: 1rem;
}

/**************Links******************/
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: black !important;
  border-top: 0.1875rem solid rgba(255,255,255,0);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid rgb(191, 139, 191)
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid rgb(191, 139, 191);
}
